/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media screen and (max-width : 820px){
	.container{
		padding: 0 25px;
	}
	.logo{
		margin-right: 76px;
	}
	.login__link{
		position: relative;
		top: -2px;
	}
	.description__row .description__map{
		width: 47%;
	}
	.description__row .description__address{
		width: 40%;
	}
	.description__row .description__file__item{
		width: 20%;
	}
	.list__checkbox__item{
		margin-bottom: 20px;
	}
	.copy{
		margin-right: 160px;
	}
	.header__popup{
		display: block;
	}
	.description__row .description__gallery__item{
		width: 28%;
	}
	.description__row .description__gallery__picture{
		height: 120px;
	}
	.popup__hide{
	    display: none;
	}
}
@media screen and (max-width : 670px){
	.logo{
		margin-right: 15px;
	}
}
@media screen and (max-width : 600px){
	.logo{
		margin-right: 63px;
	}
	.subscribe{
		display: none;
	}
	.subscribe__media{
		display: block;
	}
	.social{
		display: none;
	}
	.gallery__picture{
		height: 120px;
	}
	.social, .authorized{
		display: none;
	}
	.social__media{
		display: block;
	}
	.copy{
		display: none;
	}


}
@media only screen and (max-width : 768px) {



	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
