/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$archived-icon-name: 'archived_icon';
$archived-icon-x: 116px;
$archived-icon-y: 214px;
$archived-icon-offset-x: -116px;
$archived-icon-offset-y: -214px;
$archived-icon-width: 16px;
$archived-icon-height: 14px;
$archived-icon-total-width: 338px;
$archived-icon-total-height: 284px;
$archived-icon-image: 'sprite.png';
$archived-icon: (116px, 214px, -116px, -214px, 16px, 14px, 338px, 284px, 'sprite.png', 'archived_icon', );
$protected-icon-name: 'protected_icon';
$protected-icon-x: 326px;
$protected-icon-y: 0px;
$protected-icon-offset-x: -326px;
$protected-icon-offset-y: 0px;
$protected-icon-width: 12px;
$protected-icon-height: 15px;
$protected-icon-total-width: 338px;
$protected-icon-total-height: 284px;
$protected-icon-image: 'sprite.png';
$protected-icon: (326px, 0px, -326px, 0px, 12px, 15px, 338px, 284px, 'sprite.png', 'protected_icon', );
$star-icon-name: 'star_icon';
$star-icon-x: 218px;
$star-icon-y: 60px;
$star-icon-offset-x: -218px;
$star-icon-offset-y: -60px;
$star-icon-width: 17px;
$star-icon-height: 16px;
$star-icon-total-width: 338px;
$star-icon-total-height: 284px;
$star-icon-image: 'sprite.png';
$star-icon: (218px, 60px, -218px, -60px, 17px, 16px, 338px, 284px, 'sprite.png', 'star_icon', );
$date-icon-name: 'date_icon';
$date-icon-x: 218px;
$date-icon-y: 0px;
$date-icon-offset-x: -218px;
$date-icon-offset-y: 0px;
$date-icon-width: 18px;
$date-icon-height: 20px;
$date-icon-total-width: 338px;
$date-icon-total-height: 284px;
$date-icon-image: 'sprite.png';
$date-icon: (218px, 0px, -218px, 0px, 18px, 20px, 338px, 284px, 'sprite.png', 'date_icon', );
$sort-icon-name: 'sort_icon';
$sort-icon-x: 60px;
$sort-icon-y: 214px;
$sort-icon-offset-x: -60px;
$sort-icon-offset-y: -214px;
$sort-icon-width: 16px;
$sort-icon-height: 14px;
$sort-icon-total-width: 338px;
$sort-icon-total-height: 284px;
$sort-icon-image: 'sprite.png';
$sort-icon: (60px, 214px, -60px, -214px, 16px, 14px, 338px, 284px, 'sprite.png', 'sort_icon', );
$sort-icon-hover-name: 'sort_icon_hover';
$sort-icon-hover-x: 172px;
$sort-icon-hover-y: 214px;
$sort-icon-hover-offset-x: -172px;
$sort-icon-hover-offset-y: -214px;
$sort-icon-hover-width: 16px;
$sort-icon-hover-height: 14px;
$sort-icon-hover-total-width: 338px;
$sort-icon-hover-total-height: 284px;
$sort-icon-hover-image: 'sprite.png';
$sort-icon-hover: (172px, 214px, -172px, -214px, 16px, 14px, 338px, 284px, 'sprite.png', 'sort_icon_hover', );
$share-icon-name: 'share_icon';
$share-icon-x: 218px;
$share-icon-y: 116px;
$share-icon-offset-x: -218px;
$share-icon-offset-y: -116px;
$share-icon-width: 16px;
$share-icon-height: 16px;
$share-icon-total-width: 338px;
$share-icon-total-height: 284px;
$share-icon-image: 'sprite.png';
$share-icon: (218px, 116px, -218px, -116px, 16px, 16px, 338px, 284px, 'sprite.png', 'share_icon', );
$url-icon-name: 'url_icon';
$url-icon-x: 152px;
$url-icon-y: 0px;
$url-icon-offset-x: -152px;
$url-icon-offset-y: 0px;
$url-icon-width: 26px;
$url-icon-height: 26px;
$url-icon-total-width: 338px;
$url-icon-total-height: 284px;
$url-icon-image: 'sprite.png';
$url-icon: (152px, 0px, -152px, 0px, 26px, 26px, 338px, 284px, 'sprite.png', 'url_icon', );
$head-popup-close-name: 'head_popup_close';
$head-popup-close-x: 54px;
$head-popup-close-y: 270px;
$head-popup-close-offset-x: -54px;
$head-popup-close-offset-y: -270px;
$head-popup-close-width: 13px;
$head-popup-close-height: 14px;
$head-popup-close-total-width: 338px;
$head-popup-close-total-height: 284px;
$head-popup-close-image: 'sprite.png';
$head-popup-close: (54px, 270px, -54px, -270px, 13px, 14px, 338px, 284px, 'sprite.png', 'head_popup_close', );
$share-popup-close-name: 'share_popup_close';
$share-popup-close-x: 0px;
$share-popup-close-y: 270px;
$share-popup-close-offset-x: 0px;
$share-popup-close-offset-y: -270px;
$share-popup-close-width: 14px;
$share-popup-close-height: 14px;
$share-popup-close-total-width: 338px;
$share-popup-close-total-height: 284px;
$share-popup-close-image: 'sprite.png';
$share-popup-close: (0px, 270px, 0px, -270px, 14px, 14px, 338px, 284px, 'sprite.png', 'share_popup_close', );
$footer-soc-fb-name: 'footer-soc-fb';
$footer-soc-fb-x: 276px;
$footer-soc-fb-y: 0px;
$footer-soc-fb-offset-x: -276px;
$footer-soc-fb-offset-y: 0px;
$footer-soc-fb-width: 10px;
$footer-soc-fb-height: 20px;
$footer-soc-fb-total-width: 338px;
$footer-soc-fb-total-height: 284px;
$footer-soc-fb-image: 'sprite.png';
$footer-soc-fb: (276px, 0px, -276px, 0px, 10px, 20px, 338px, 284px, 'sprite.png', 'footer-soc-fb', );
$footer-soc-tw-name: 'footer-soc-tw';
$footer-soc-tw-x: 0px;
$footer-soc-tw-y: 214px;
$footer-soc-tw-offset-x: 0px;
$footer-soc-tw-offset-y: -214px;
$footer-soc-tw-width: 20px;
$footer-soc-tw-height: 16px;
$footer-soc-tw-total-width: 338px;
$footer-soc-tw-total-height: 284px;
$footer-soc-tw-image: 'sprite.png';
$footer-soc-tw: (0px, 214px, 0px, -214px, 20px, 16px, 338px, 284px, 'sprite.png', 'footer-soc-tw', );
$soc-fb-name: 'soc-fb';
$soc-fb-x: 62px;
$soc-fb-y: 152px;
$soc-fb-offset-x: -62px;
$soc-fb-offset-y: -152px;
$soc-fb-width: 22px;
$soc-fb-height: 22px;
$soc-fb-total-width: 338px;
$soc-fb-total-height: 284px;
$soc-fb-image: 'sprite.png';
$soc-fb: (62px, 152px, -62px, -152px, 22px, 22px, 338px, 284px, 'sprite.png', 'soc-fb', );
$soc-in-name: 'soc-in';
$soc-in-x: 124px;
$soc-in-y: 152px;
$soc-in-offset-x: -124px;
$soc-in-offset-y: -152px;
$soc-in-width: 22px;
$soc-in-height: 22px;
$soc-in-total-width: 338px;
$soc-in-total-height: 284px;
$soc-in-image: 'sprite.png';
$soc-in: (124px, 152px, -124px, -152px, 22px, 22px, 338px, 284px, 'sprite.png', 'soc-in', );
$soc-tw-name: 'soc-tw';
$soc-tw-x: 0px;
$soc-tw-y: 152px;
$soc-tw-offset-x: 0px;
$soc-tw-offset-y: -152px;
$soc-tw-width: 22px;
$soc-tw-height: 22px;
$soc-tw-total-width: 338px;
$soc-tw-total-height: 284px;
$soc-tw-image: 'sprite.png';
$soc-tw: (0px, 152px, 0px, -152px, 22px, 22px, 338px, 284px, 'sprite.png', 'soc-tw', );
$soc-vk-name: 'soc-vk';
$soc-vk-x: 152px;
$soc-vk-y: 66px;
$soc-vk-offset-x: -152px;
$soc-vk-offset-y: -66px;
$soc-vk-width: 22px;
$soc-vk-height: 22px;
$soc-vk-total-width: 338px;
$soc-vk-total-height: 284px;
$soc-vk-image: 'sprite.png';
$soc-vk: (152px, 66px, -152px, -66px, 22px, 22px, 338px, 284px, 'sprite.png', 'soc-vk', );
$share-fb-name: 'share_fb';
$share-fb-x: 76px;
$share-fb-y: 76px;
$share-fb-offset-x: -76px;
$share-fb-offset-y: -76px;
$share-fb-width: 36px;
$share-fb-height: 36px;
$share-fb-total-width: 338px;
$share-fb-total-height: 284px;
$share-fb-image: 'sprite.png';
$share-fb: (76px, 76px, -76px, -76px, 36px, 36px, 338px, 284px, 'sprite.png', 'share_fb', );
$share-in-name: 'share_in';
$share-in-x: 0px;
$share-in-y: 76px;
$share-in-offset-x: 0px;
$share-in-offset-y: -76px;
$share-in-width: 36px;
$share-in-height: 36px;
$share-in-total-width: 338px;
$share-in-total-height: 284px;
$share-in-image: 'sprite.png';
$share-in: (0px, 76px, 0px, -76px, 36px, 36px, 338px, 284px, 'sprite.png', 'share_in', );
$share-tw-name: 'share_tw';
$share-tw-x: 76px;
$share-tw-y: 0px;
$share-tw-offset-x: -76px;
$share-tw-offset-y: 0px;
$share-tw-width: 36px;
$share-tw-height: 36px;
$share-tw-total-width: 338px;
$share-tw-total-height: 284px;
$share-tw-image: 'sprite.png';
$share-tw: (76px, 0px, -76px, 0px, 36px, 36px, 338px, 284px, 'sprite.png', 'share_tw', );
$share-vk-name: 'share_vk';
$share-vk-x: 0px;
$share-vk-y: 0px;
$share-vk-offset-x: 0px;
$share-vk-offset-y: 0px;
$share-vk-width: 36px;
$share-vk-height: 36px;
$share-vk-total-width: 338px;
$share-vk-total-height: 284px;
$share-vk-image: 'sprite.png';
$share-vk: (0px, 0px, 0px, 0px, 36px, 36px, 338px, 284px, 'sprite.png', 'share_vk', );
$spritesheet-width: 338px;
$spritesheet-height: 284px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($archived-icon, $protected-icon, $star-icon, $date-icon, $sort-icon, $sort-icon-hover, $share-icon, $url-icon, $head-popup-close, $share-popup-close, $footer-soc-fb, $footer-soc-tw, $soc-fb, $soc-in, $soc-tw, $soc-vk, $share-fb, $share-in, $share-tw, $share-vk, );
$spritesheet: (338px, 284px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(../img/sprites/#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
