.main{
    position: relative;
    margin: 30px 0 170px;
    @include clearfix;
}

.authorized{
    position: relative;
    @include clearfix;
    margin-bottom: 23px;
}

.user{
    float: left;
    &__picture{
        border-radius: 50%;
        float: left;
        margin-right: 15px;
        &__img{
            border-radius: 50%;
            width: 48px;
            height: 48px;
        }
    }
    &__name{
        font-size: 18px;
        color: #2C2F31;
        float: left;
        line-height: 48px;
    }
}

.social{
    float: right;
    margin-top: 18px;

    &__list{
        display: block;
        float: left;
        &__item{
            list-style: none;
            display: block;
            float: left;
            margin-right: 10px;
            &:last-child{
                margin-right: 0;
            }
            &__link{
                display: block;
                color: #fff;
                &__fb{
                    @include sprite($soc-fb);
                    display: block;
                }
                &__vk{
                    @include sprite($soc-vk);
                    display: block;
                }
                &__tw{
                    @include sprite($soc-tw);
                    display: block;
                }
                &__in{
                    @include sprite($soc-in);
                    display: block;
                }
            }

            .btn{
                color: #fff;
                background-color: #92B6C4;
                border-radius: 4px;
                text-decoration: none;
                padding: 4px 6px;
                font-size: 13px;
                &:hover{
                    color: #37b7ec;
                }
            }
        }
    }
}

.title__checklist{
    display: block;
    float: left;
    font-weight: 600;
    font-size: 20px;
    line-height: 34px;
    color: #2C2F31;
}

.add__centrallo{
    border: none;
    float: right;
    padding: 8px 16px;
    background-color: #37B7EC;
    border-radius: 3px;
    font-size: 13px;
    color: #fff;
    &:hover{
        color: #37b7ec;
        background-color: #fff;
    }
}

.post{
    min-height: 78px;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 12px;
    position: relative;
}

/*checklist*/
.list__checkbox {
    display: inline-block;
    height: auto;
    list-style-type: none;
    width: 100%;
    margin-bottom: 8px;
    &__item{
        text-align: center;
        width: 100%;
        margin-bottom: 11px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}

.custom-check {
    color: #494949;
    display: block;
    font-size: 16px;
    font-weight: 400;
    height: 1.2em;
    margin: 0 .6em 0 0;
    position: relative;
    text-align: left;
    width: 100%;
    &__checkbox{
        -webkit-border-radius: .125em;
        border-radius: .125em;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        height: 1.1em;
        left: 0;
        position: absolute;
        top: 0;
        width: 14px;
        height: 14px;
    }
    &__text{
        cursor: pointer;
        display: block;
        height: 1.1em;
        left: 0;
        margin-top: -.02em;
        padding-left: 20px;
        position: absolute;
        text-align: left;
        top: 0;
    }
}


.check-B{
    &__background{
        background-color: white;
        border-radius: .125em;
        transition: all .2s ease-in-out;
    }


    &:checked + .check-B__background{
        animation: bouncing-item .5s ease-in-out .2s 1 normal forwards;
        background-color: $checked-color;
        box-shadow: $z-depth-1;
    }


    &__checkbox{
        border: solid .125em #ccc;
        transition: all .1s ease-in-out .25s;
    }


    &:checked + .check-B__background + .check-B__checkbox{
        border-color: white;
        border-radius: 0;
        border-right: none;
        border-top: none;
        box-shadow: -1px 1px 1px rgba(black, .1);
        height: .33em;
        left: .2em;
        top: .2em;
        transform: rotate(-45deg);
        width: .55em;   }
}
/*label*/
.mark__top{
    width: 0;
	height: 0;
	border-top: 48px solid #EF4B2B;
	border-left: 48px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 5px 0 0;
    &:before{
        content: "";
        display: block;
        position: absolute;
        left: -48px;
        top: -48px;
        border-style: solid;
        border-width: 48px 0 0 48px;
        border-color: transparent transparent transparent #fff;
    }
    &:after{
        content: "";
        display: block;
        position: absolute;
        z-index: 10;
        top: -44px;
        left: -20px;
        @include sprite($star-icon);
    }
}

.time{
    color: #aeb4ba;
    font-size: 16px;
    text-align: left;
    float: left;
}

.share{
    float: right;
    &__list{
        position: relative;
        @include clearfix;
        &__item{
            display: block;
            float: left;
            margin-right: 25px;
            &:last-child{
                margin-right: 0;
            }
            &__link{
                display: block;

                .share__icons{
                    display: block;
                }
                .share__icon{
                    @include sprite($share_icon);
                }
                .url__icon{
                    @include sprite($url_icon);
                    position: relative;
                    top: -5px;
                }
            }
        }
    }
}

.sort__row{
    position: relative;
    @include clearfix;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom:1px solid #BDBDBD;
    &--bb{
        border:none;
    }

    .sort__name{
        float: left;
        &__icon{
            display: block;
            float: left;
            margin-right: 16px;
            @include sprite($sort_icon);
            &:hover{
                @include sprite($sort_icon_hover);
                cursor: pointer;
            }
        }
        &__title{
            float: left;
            font-size: 16px;
            color: #333333;
            font-weight: 600;
        }
    }

    .sort__list{
        float: right;
        color: #858585;
        font-size: 16px;
        &__number{
            float: left;
            margin-right: 50px;
        }
        &__date{
            float: left;
        }
    }
}

/*gallery*/
.gallery{
    position: relative;
    padding-bottom: 24px;
    margin-bottom: 14px;
    border-bottom:1px solid #BDBDBD;
    @include clearfix;
    &__item{
        width: 30%;
        float: left;
        margin-right: 12px;
        margin-bottom: 6px;
    }
    &__picture{
        height: 140px;
    }
}

.reminder{
    position: relative;
    margin-bottom: 24px;
    @include clearfix;
    &__icon{
        display: block;
        float: left;
        margin-right: 14px;
        @include sprite($date_icon);
    }
    &__date{
        font-size: 16px;
        line-height: 24px;
        color: #858585;
    }
}

/*description section*/
.description__row{
    padding-bottom: 25px;
    margin-bottom: 20px;
    border-bottom: 1px solid #BDBDBD;
    position: relative;
    @include clearfix;
    &-bb{
        border:none;
    }
    .description__text{
        font-size: 16px;
        line-height: 26px;
        color: #494949;
        margin-bottom: 20px;
    }
    .description__gallery{
        position: relative;
        @include clearfix;
        &__item{
            width: 26%;
            float: left;
            margin-right: 12px;
            margin-bottom: 6px;
            &:nth-child(2){
                width: 10%;
            }
        }
        &__picture{
            height: 140px;
        }
    }

    .description__map{
        width: 47%;
        height: 200px;
        margin-right: 15px;
        float: left;
    }

    .description__address{
        float: left;
        width: 50%;
        &__title{
            font-size: 16px;
            line-height: 19px;
            color: #383838;
            font-weight: 600;
            margin-bottom: 7px;
        }
        &__streat{
            font-size: 16px;
            line-height: 18px;
            color: #858585;
            margin-bottom: 7px;
        }
        &__country{
            font-size: 16px;
            line-height: 18px;
            color: #858585;
            margin-bottom: 7px;
        }
        &__link{
            font-size: 16px;
            line-height: 18px;
            color: #00ADFF;
            text-decoration: none;
        }
    }

    .description__file{
        position: relative;
        margin-top: 10px;
        @include clearfix;
        &__item{
            float: left;
            width: 18%;
            margin-right: 30px;
            &:last-child{
                margin-right: 0;
            }
            &__picture{
                text-align: center;
            }
            &__name{
                text-align: center;
                font-size: 14px;
                line-height: 16px;
                color: #333333;
            }
        }
    }
}

/*protected section*/
.protected{
    position: relative;
    @include clearfix;
    &__date{
        font-size: 16px;
        line-height: 18px;
        color: #AEB4BA;
        float: left;
    }
    &__title{
        float: right;
        &__link{
            text-decoration: none;
            font-size: 16px;
            line-height: 18px;
            color: #858585;
            &:hover{
                color: #009CE6;
            }
        }
    }
}
/*label protected*/
.mark__top__protected{
    width: 0;
	height: 0;
	border-top: 48px solid #3C434A;
	border-left: 48px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 5px 0 0;
    &:before{
        content: "";
        display: block;
        position: absolute;
        left: -48px;
        top: -48px;
        border-style: solid;
        border-width: 48px 0 0 48px;
        border-color: transparent transparent transparent #fff;
    }
    &:after{
        content: "";
        display: block;
        position: absolute;
        z-index: 10;
        top: -44px;
        left: -20px;
        @include sprite($protected-icon);
    }
}

/*archived section*/
.archived{
    position: relative;
    @include clearfix;
    &__date{
        font-size: 16px;
        line-height: 18px;
        color: #AEB4BA;
        float: left;
    }
    &__title{
        float: right;
        &__link{
            text-decoration: none;
            font-size: 16px;
            line-height: 18px;
            color: #858585;
            &:hover{
                color: #009CE6;
            }
        }
    }
}
/*label archived*/
.mark__top__archived{
    width: 0;
	height: 0;
	border-top: 48px solid #979DA3;
	border-left: 48px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 5px 0 0;
    &:before{
        content: "";
        display: block;
        position: absolute;
        left: -48px;
        top: -48px;
        border-style: solid;
        border-width: 48px 0 0 48px;
        border-color: transparent transparent transparent #fff;
    }
    &:after{
        content: "";
        display: block;
        position: absolute;
        z-index: 10;
        top: -41px;
        left: -22px;
        @include sprite($archived-icon);
    }
}

.tooltip{
    background: rgba(0,0,0, .7);
    bottom: 100%;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    display: block;
    left: -7px;
    margin-bottom: 15px;
    opacity: 0;
    padding: 10px 12px;
    pointer-events: none;
    position: absolute;
    width: 135px;
    transform: translateY(10px);
    transition: all .25s ease-out;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          span{
              background-color: #37b7ec;
              font-size: 14px;
              line-height: 16px;
          }
          &:before{
              bottom: -20px;
              content: " ";
              display: block;
              height: 20px;
              left: 0;
              position: absolute;
              width: 100%;
          }
          &:after{
              border-left: solid transparent 7px;
              border-right: solid transparent 7px;
              border-top: solid rgba(0,0,0, .7) 7px;
              bottom: -7px;
              content: " ";
              height: 0;
              left: 50%;
              margin-left: -13px;
              position: absolute;
              width: 0;
          }
}

.share__list__item__link:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0px);
}
