<!DOCTYPE html>
<head lang="ru_RU">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>4xxi</title>
	<link type="image/x-icon" rel="shortcut icon" href="/img/favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content=""/>
	<meta name="keywords" content=""/>
	<meta name="author" content=""/>
	<meta name="copyright" content="">
	<meta http-equiv="Reply-to" content="">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
